@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', sans-serif;
}

[data-placeholder]:empty:before {
  content: attr(data-placeholder);
  color: theme('colors.gray.400');
}
